<header>
    <div class='header'>
        <ul>
            <li><a href="{{path('echouage_accueil')}}">Accueil</a></li>
            <li><a href="{{path('echouage')}}">Echouage</a></li>
            <li><a href="{{path('zone')}}">Zone</a></li>
            <li><a href="{{path('espece')}}">Espece</a></li>
        </ul>
    </div>
</header>
