<form method="post" action="{{ path('echouage_delete', {'id': echouage.id}) }}" onsubmit="return confirm('Voulez-vous vraiment supprimer cet item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ echouage.id) }}">
    <button class="btn">Supprimer</button>
</form>
